@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 10%;
        --secondary: 0 0% 90%;
        --primary: 247 100% 70%;
        --destructive: 0 100% 66%;
        --accent: var(--background);
        --popover: var(--background);
        --popover-foreground: var(--foreground);
        --radius: 0.5rem;
        --input: var(--background);
        --text-muted-foreground: var(--foreground);
        --muted: 0 0% 80%;
        --border: 0 0% 40%;
    }

    .dark {
        --background: 0 0% 10%;
        --foreground: 0 0% 100%;
        --secondary: 0 0% 14.1%;
        --border: 0 0% 26%;
    }

    :focus-visible {
        @apply outline-none;
    }
}

@layer components {

    @font-face {
        font-family: 'Inter';
        src: url('/fonts/Inter.ttf') format('truetype');
        font-display: swap;
    }

    @font-face {
        font-family: 'SofiaSans';
        src: url('/fonts/SofiaSans.ttf') format('truetype');
        font-display: swap;
    }

    * {
        font-family: 'Inter' !important;
    }

    .SofiaSans,
    .SofiaSans * {
        font-weight: 200 !important;
        letter-spacing: 0.1px;
        word-spacing: 0.5px;
    }

    .tabs-trigger {
        @apply !p-0 rounded-lg data-[state=active]:!text-primary text-foreground !bg-transparent;
    }

    .hide-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .Page {
        @apply w-full h-full bg-background relative overflow-hidden flex flex-col;
    }

    .Gradient {
        background: linear-gradient(90deg, #EC806C 0%, #B66EBD 43.41%, #7568F2 100%);
    }

    .border-Gradient {
        border: 2px solid;
        border-image-source: linear-gradient(90deg, #EC806C 0%, #B66EBD 43.41%, #7568F2 100%);
        border-image-slice: 1;
    }

    .border-Gradient-rounded {
        position: relative;
        z-index: 1;
        padding: 2px;
    }

    .border-Gradient-rounded::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(90deg, #EC806C 0%, #B66EBD 43.41%, #7568F2 100%);
        border-radius: 0.5rem;
        z-index: -1;
    }

    .DataPanel {
        @apply h-full w-full flex flex-col bg-background border border-border rounded-lg;
    }

    .Dropzone {
        @apply flex grow shrink bg-background items-center justify-center;
    }

    .text-1\.5xl {
        font-size: 1.375rem;
        /* 22px */
        line-height: 2rem;
        /* 32px */
    }

    .json-tree-container ul > li > div {
        @apply !hidden;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.light ::-webkit-scrollbar-thumb {
    background: hsl(0 0% 90%);
}

.dark ::-webkit-scrollbar-thumb {
    background: hsl(0 0% 14.1%);
}

.light .graphsFilter::-webkit-scrollbar-thumb {
    background: hsl(0 0% 80%);
}

.dark .graphsFilter::-webkit-scrollbar-thumb {
    background: hsl(0 0% 24.1%);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}